<div class="cursor-pointer" (click)="onClickLesson(lessonId)" >
  <span class="date-format" >
    28/07/2022
  </span>

  <div class="card-lesson rounded p-2 mt-2">
    <header class="d-flex
      justify-content-between
      align-items-center
    "
    >
      <span class="d-flex
        align-items-center gap-2 text-info"
      >
        <i class="far fa-check-circle"></i>
        Conteúdo liberado
      </span>

      <span class="span-type px-2 rounded">
        aula prática
      </span>
    </header>

    <strong class="d-block mt-3">
      {{lessonId}} - {{title}}
    </strong>
  </div>
</div>
